/* General Styling */
table[data-gantt-id] th {
    font-weight:normal;
    font-size:1.25em;
}
table[data-gantt-id] td, table[data-gantt-id] th {
    border: 0;
    box-shadow: inset 0 0 2px #222222;
    padding:.25em;
}
table[data-gantt-id] {
    border-collapse: collapse;
}
table[data-gantt-id] input {
    border-width: 0;
}
table[data-gantt-id] input:focus {
    border-width: 0;
    outline-width:0;
    box-shadow: 0px 0px 20px grey;
}
table[data-gantt-id] input:focus {
    border-width: 0;
    outline-width:0;
    box-shadow: inset 0px 0px 20px antiquewhite;
}
table[data-gantt-id] th input{
    text-align:center;
}
table[data-gantt-role="gantt"] th input {
    font-size:.75em;
}
table[data-gantt-role="gantt"] th {
    padding:2px 1px;
}

/* selected items */
table[data-gantt-id] td.slotFeedback{
    font-weight:bold;
}
table[data-gantt-id] td.selectedProject{
    background-color:black;
}

/* tweaking buttons (and resulting changes) */
table[data-gantt-role="projects"] thead th,
table[data-gantt-role="gantt"]    tbody td{
    vertical-align: top;
    text-align:center;
}
table[data-gantt-role="projects"] thead tr:last-child th:first-child button,
table[data-gantt-role="gantt"]    tbody tr:last-child td:first-child button{
    display:block;
    margin:auto;
}

/* Deadlines */

table[data-gantt-role="gantt"] tr.deadline{
    border: 0px solid;
}
table[data-gantt-role="gantt"] tr.deadline-before{
    border-top-width:3px;
}
table[data-gantt-role="antt"] tr.deadline-after{
    border-bottom-width:3px;
}
/*table[data-gantt-role="gantt"] td{
    background-color: attr('data-gantt-projectcolor'); can't use this because it's too bleeding edge!
}*/